<!doctype html>
<html>
    <head>
        <!--CSS //-->
            <!--legacy bug fix //-->
        <link></link>
        <link rel="stylesheet" href="{{url_for('static', filename='CSS/bootstrap4/bootstrap.css')}}"></link>
        <link rel="stylesheet" href="{{url_for('static', filename='CSS/common.css')}}"></link>
        <!--CSS extension hook//-->
        {% block cssExtension %}
        {% endblock %}
        
        <!--Scripts //-->
            <!--legacy bug fix //-->
        <script></script>
        <script href="{{url_for('static', filename='JS/jquery/jquery.min.js')}}"></script>
        <script href="{{url_for('static', filename='JS/popper/popper.js')}}"></script>
        <script href="{{url_for('static', filename='JS/bootstrap/bootstrap.bundle.js')}}"></script>
        <script href="{{url_for('static', filename='JS/common.js')}}"></script>
        <!--CSS extension hook //-->
        {% block jsExtension %}
        {% endblock %}
    </head>
    
    <body>
        {% include 'nav.html' %}
        
        <div id="headerContainer">
            {% block headerContent %}
            {% endblock %}
        </div>
        
        <div id="contentContainer">
            {% block primaryContent %}
            {% endblock %}
        </div>
        
        <div id="footerContainer">
            {% block footerContent %}
            {% endblock %}
            <div class="box">
            </div>
        </id>
    </body>
</html>